.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.button{
  text-align: center;
  margin: 228px;
}
.div{
  margin: 228px; 
}


.css-1ri6ub7-MuiPaper-root-MuiCard-root{
  max-width: none !important;
}
.custom-flex{
  display: inline-flex !important;
}